<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ hairdresser.username }} - Details</title>
  <link rel="stylesheet" href="/../static/css/venue_details.css">
</head>
<body>

  <header class="navbar">
    <div class="navbar-left">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    <div class="navbar-right">
      <img src="../static/images/logo.png" class="logo-large" alt="Logo">
    </div>
  </header>

  <main class="venue-details">
    <h1>{{ hairdresser.name }}</h1>
    <h2> {{ hairdresser.descrpition }}</h2>
    <p><strong>Description:</strong> {{ hairdresser.description }}</p>
    <p><strong>Location:</strong> {{ hairdresser.location }}</p>
    <p><strong>Price:</strong> {{ hairdresser.price }} EGP</p>

    
      <img src="{{ hairdresser.media }}" alt="Venue Image" style="width: 300px; border-radius: 10px;">
    

    <!-- Calendar Placeholder -->
    <div class="calendar">
      <h3>Booking Calendar</h3>
      <p>[Calendar Will Be Here]</p>
    </div>

    <a href="/booking/" class="book-button">Book This hairdresser</a>
  </main>

</body>
</html>
